<div class="d-flex justify-content-center align-items-center flex-column" style="height: 75%;">
    <h1 class="text-light">Create Satellite</h1>
    <div id="bord" class="border border-2 border-primary d-flex justify-content-center align-items-center" style="height: 70%; width: 70%;">
        <form class="text-light d-flex flex-column justify-content-center" style="width: 60%;">
            <div class="d-flex flex-column align-items-center">
                <label class="form-label">Name</label>

                <input type="text" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" >
            </div>

            <div class="mt-4 mb-4 d-flex flex-column align-items-center">
                <label class="form-label">Size (Km)</label>

                <input type="number" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" >
            </div>

            <div class="mb-3 d-flex flex-column align-items-center">
                <label class="form-label">Image</label>

                <input type="file" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" >
            </div>
            
            <div class="mb-3 d-flex flex-column align-items-center">
                <label class="form-label">Belongs To</label>

                <input type="" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" >
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>