<div class="d-flex justify-content-center align-items-center flex-column" style="height: 75%;">
    <h1 class="text-light">Create Planet</h1>
    <div id="bord" class="border border-2 border-primary d-flex justify-content-around align-items-center" style="height: 80%; width: 100%;">
        <form class="text-light d-flex flex-column justify-content-center" style="width: 45%;">
            <div class="d-flex flex-column align-items-center">
                <label class="form-label">Name</label>

                <input type="text" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" [(ngModel)]="planetForm.name">
            </div>

            <div class="mt-4 mb-4 d-flex flex-column align-items-center">
                <label class="form-label">Size (Km)</label>

                <input type="number" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" [(ngModel)]="planetForm.size">
            </div>

            <div class="mb-3 d-flex flex-column align-items-center">
                <label class="form-label">Image</label>

                <input type="url" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" [(ngModel)]="planetForm.image">
            </div>
            <div class="mb-3 d-flex flex-column align-items-center">
                <label class="form-label">Distance With Earth (Km)</label>

                <input type="number" class="form-control bg-transparent border-primary border-2 text-primary"  name="ngModel" [(ngModel)]="planetForm.distancewWithEarth">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <div class="d-flex flex-row justify-content-center align-items-center text-primary" style="width: 48%; height: 80%;">
            <div class="d-flex flex-column justify-content-around" style="height: 80%;">
                <h3>Name: {{planetForm.name}}</h3>
                <h3>Size: {{planetForm.size}} Km</h3>
                <h3>Distance to Earth: {{planetForm.distancewWithEarth}} Km</h3>
            </div>
            <img style="width: 50%;" src={{planetForm.image}} alt={{planetForm.name}}>
        </div>
    </div>
</div>
