#navbar{
    box-shadow: 1px 1px 1px blue, 0 0 1em blue, 0 0 0.2em blue;
}

#navbar div a{
    transition: 1s;
}

#navbar div a:hover{
   text-shadow: 2px 2px 2px blue, 0 0 1em blue, 0 0 0.5em blue;
   text-decoration: underline;
}