<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark border border-2 border-primary d-flex">
    <div class="container-fluid">
        <a href="home" class="navbar-brand">Home</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <!-- <a class="navbar-brand" href="create">Create</a>
        <a class="navbar-brand" href="login"><img src="../../landing/component/astronaut.png" alt="Icon"></a> -->
      </div>
</nav>
