<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-transparent border border-2 border-primary d-flex">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-primary">Out</a>
        <button (click)="getAll()" class="btn btn-outline-primary">Reset All</button>
        <a href="admin/access" class="navbar-brand text-primary" >New (only admins)</a>
        <form class="d-flex" (ngSubmit)="submit()">
            <input class="form-control bg-transparent border-primary border-2 text-primary me-2" name="ngModel" [(ngModel)]="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        </div>
</nav>
