<div id="sidebar" class="d-flex flex-column p-3 text-primary bg-transparent border border-3 border-primary" style="width: 280px; height: 100%;">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none mx-4">
      <span class="fs-4">Categories</span>
    </div>
    <hr>
    <ul class="nav nav-pills d-flex flex-column mb-auto justify-content-evenly" style="height: 100%;">
      <li class="nav-item">
        <button href="#" class="nav-link mx-4" aria-current="page">
          Planets
        </button>
      </li>
      <li>
        <button href="#" class="nav-link  mx-4" aria-current="page">
          Galaxies
        </button>
      </li>
      <li>
        <button href="#" class="nav-link mx-4" aria-current="page">
          Black Holes
        </button>
      </li>
      <li>
        <button href="#" class="nav-link mx-4" aria-current="page">
          Asteroids
        </button>
      </li>
      <li>
        <button href="#" class="nav-link mx-4" aria-current="page">
          Satellites
        </button>
      </li>
      <li>
        <button href="#" class="nav-link mx-4" aria-current="page">
          Stars
        </button>
      </li>
      <li>
        <button href="#" class="nav-link mx-4" aria-current="page">
          Constellations
        </button>
      </li>
    </ul>
    <hr>
    <div class="mx-4">
        <span class="fs-4"><a class="navbar-brand text-decoration-none text-primary" href="">OUT</a></span>
    </div>
  </div>
