<div class="home-content d-flex flex-column">
    <app-navbar></app-navbar>
    <div style="height: 90%;" class="d-flex flex-row mt-3">
        <app-sidebar></app-sidebar>
        <div id="content" class="container-fluid mx-3 border border-primary border-3 text-white d-flex justify-content-center ">
            <div class="flex-row d-flex justify-content-around text-center " style="width: 100%;">
            <div class="border border-danger border-2">
                <div class="col  ">
                    <img style="width: 30%;" src="https://i.pinimg.com/originals/a1/01/e2/a101e22fc458c1110d418ee309f240c8.png" alt="">
                </div>
                <div class="col">
                    <img style="width: 30%;" src="https://www.pngmart.com/files/4/Asteroid-PNG-Photos.png" alt="">
                </div>
                <div class="col">
                    <img style="width: 30%;" src="https://assets.stickpng.com/images/580b585b2edbce24c47b2714.png" alt="">
                </div>
            </div>
            <div>
                <div class="col  ">
                    <img style="width: 10%;" src="https://i.pinimg.com/originals/a1/01/e2/a101e22fc458c1110d418ee309f240c8.png" alt="">
                </div>
                <div class="col">
                    <img style="width: 10%;" src="https://www.pngmart.com/files/4/Asteroid-PNG-Photos.png" alt="">
                </div>
                <div class="col">
                    <img style="width: 10%;" src="https://assets.stickpng.com/images/580b585b2edbce24c47b2714.png" alt="">
                </div>
            </div>
            
            </div>
          </div>
    </div>
</div>